/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/app/data.db3
/web/bower_components
/bin/
/composer.phar
/vendor/
/web/bundles/
